//一些辅助样式, 如字体相关 边距相关
@import './tools.less';
//滚动条
* {
  box-sizing: border-box;
  
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: hsla(220, 4%, 58%, 0.5);
    transition: background-color 0.3s;

    &:hover {
      background: #bbb;
    }
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #375375;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.box-cont {
  max-width: 1200px;
  margin: 0 auto;
}

.theme-btn {
  height: 32px;
  padding: 4px 16px;
  background-color: #2361f9;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: 0.3s;
  outline: none;
  &:hover {
    background-color: darken(#2361f9, 6%);
  }
  &:active {
    background-color: darken(#2361f9, 10%);
    box-shadow: 0 0 2px 3px #2360f944;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-center {
  .flex();
  justify-content: center;
}

.flex-ard {
  .flex();
  justify-content: space-around;
}

.flex-bt {
  .flex();
  justify-content: space-between;
}

.flex-cl {
  .flex();
  flex-direction: column;
  justify-content: center;
}

.app-mouse {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  background: url('https://img.tukuppt.com/ad_preview/00/29/44/n0YQFVPBkZ.jpg!/both/32x32');
  transition: 0.1s;
}
